<div class="container d-flex mt-5">
  <form class="form-inline">
    <div class="input-group">
        <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="URL">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary mb-2">Shorten</button>
      </div>
    </div>
    </div>
  </form>
</div>
